/*import fonts from google fonts Wendy One Stencil */
@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Wendy+One&display=swap');

/*imported downloaded fonts Hitchcock & Univers*/
@font-face {
    font-family: 'Hitchcock';
    src: url("Fonts/Hitchcock/Regular.ttf");
}
@font-face {
    font-family: "Univers";
    src: url("/Fonts/UniversRegular.ttf");
}
/* css reset */
* {
    padding: 0;
    Margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/*default styles for whole page*/
body {
    color: #051311;
    border-color: black;
    background-color: #FEF7DA;
}

/*font styles*/
h1 {
    font-family: 'Hitchcock';
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

h2 {
    font-family: 'Hitchcock';
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}
h3{
    font-family: 'Wendy one';
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
}
h4{
    font-family: 'Wendy One';
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
p {
    font-family: 'Univers';
    font-weight: 400;
    font-style: regular;
    font-size: 1.25rem;
}
/*navigation bar design*/
.navbar ul {

    list-style: none;
    background-color: #202B72;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;

}

.navbar a {
    color: #E9E9E9;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-family: 'Wendy One';
    font-size: 20px;;
    color: #E9E9E9;

}

.navbar a:hover {
    background-color: #fe464c;
}

.navbar li {

    margin: auto;
    padding: 0px 30px;
}
/*opening title card*/
.opening {
    Position: relative;
    display: inline-block;
    max-width: 100%;
    margin: auto;
}

.shapes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
    border: none;

    
}
/* positioning title text */
.why {
    position: absolute;
    top: 130px;
    left: 500px;
    right: 0px;
    color: #DA0000;
    font-size: 8rem;
    font-family: 'Hitchcock';
    z-index: 0;
}
.saul {
    position: absolute;
    top: 335px;
    left: 100px;
    right: 0px;
    color: #368BD0;
    font-size: 8rem;
    font-family: 'Hitchcock';
    z-index: 0;
}
.bass {
    position: absolute;
    top: 335px;
    left: 730px;
    right: 0px;
    color: #007D06;
    font-size: 8rem;
    font-family: 'Hitchcock';
    z-index: 0;
}
.so {
    position: absolute;
    top: 550px;
    left: 550px;
    right: 0px;
    color: #F58020;
    font-size: 8rem;
    font-family: 'Hitchcock';
    z-index: 0;
}
.important {
    position: absolute;
    top: 550px;
    left: 760px;
    right: 0px;
    color: #F58020;
    font-size: 8rem;
    font-family: 'Hitchcock';
    z-index: 0;
}
/*quote from saul bass section*/
.quotation img{
    max-width: 1500px;
    max-height: 849px;
    display: block;
    width: 100%;
    padding: 20px 0px 0px 0px;
    margin-right: auto;
    margin-left: auto;

}
.make {
    position: absolute;
    top: 900px;
    left: 100px;
    right: 0px;
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Hitchcock';
    z-index: 0;
}
.thing {
    position: absolute;
    top: 950px;
    left: 99px;
    right: 0px;
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Hitchcock';
    z-index: 0;
}
.comma {
    position: absolute;
    top: 950px;
    left: 250px;
    right: 0px;
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Wendy one';
    z-index: 0;
}
.if {
    position: absolute;
    top: 950px;
    left: 270px;
    right: 0px;
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Hitchcock';
    z-index: 0;
}
.cares {
    position: absolute;
    top: 1000px;
    left: 99px;
    right: 0px;
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Hitchcock';
    z-index: 0;
}
.dash {
    position: absolute;
    top: 1000px;
    left: 250px;
    right: 0px;
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Wendy One';
    z-index: 0;
}
.sb {
    position: absolute;
    top: 1000px;
    left: 280px;
    right: 0px;
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Hitchcock';
    z-index: 0;
}
/*Introduction*/
.hand img{
    max-width: 600px;
    max-height: 400px;
    display: block;
    width: 100%;
    padding: 0px 70px 100px 0px;
 
}
.title {
    position: absolute;
    top: 1300px;
    left: 750px;
    right: 0px;
    color: #051311;
    font-size: 5rem;
    font-family: 'Wendy one';
    z-index: 0;
}
.indo {
    position: absolute;
    top: 1400px;
    left: 650px;
    right: 0px;
    color: #051311;
    font-size: 3rem;
    font-family: 'Wendy one';
    z-index: 0;
    margin-right: 3rem;
}
.indo2 {
    position: absolute;
    top: 1600px;
    left: 650px;
    right: 0px;
    color: #051311;
    font-size: 3rem;
    font-family: 'Wendy one';
    z-index: 0;
    margin-right: 3rem;
}
/*role in graphic design*/
.vertigo img{
    max-width: 1460px;
    max-height: 470px;
    display: block;
    width: 100%;
    padding: 0px 0px 0px 0px;
}
.title2 {
    position: absolute;
    top: 1900px;
    left: 325px;
    right: 320px;
    text-align: center;
    color: #ffffff;
    font-size: 6rem;
    font-family: 'hitchcock';
    z-index: 0;
}
.GraphicDesign p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 200px 30px 200px;

}

.GraphicDesign h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    text-align: left;
    padding: 10px 200px 30px 200px;
}

.GraphicDesign h4 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 200px 30px 200px;

}
.atat img {
    max-width: 716px;
    max-height: 649px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    border-radius: 10%;
    background-repeat: repeat;
}
.warner img {
    max-width: 716px;
    max-height: 649px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    border-radius: 10%;
    background-repeat: repeat;
}
.anatomy img{
    max-width: 716px;
    max-height: 649px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    border-radius: 10%;
    background-repeat: repeat;
}
.album img {
    max-width: 716px;
    max-height: 649px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    border-radius: 10%;
    background-repeat: repeat;
}
/*influence on film indusrty*/
.industry {
    background-color: #F6D000;
    padding: 200px 100px 200px 100px;
}
.industry2 {
    position: absolute;
    top: 5850px;
    right:300px;
    left: 300px;
    text-align: right;
    color: #051311;
    font-size: 6rem;
    font-family: 'Wendy One';
    z-index: 0;
    padding: 0px 50px 100px 0px
}
.industry2 {
    transform: rotate(-10deg)
}
.Film p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 10px 200px 30px 200px;

}

.Film h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    text-align: left;
    padding: 0px 200px 30px 200px;
}

.Film h4 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 200px 30px 200px;
}
.casino {
    max-width: 716px;
    max-height: 649px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 260px 30px 0px;
    border-radius: 10%;
    background-repeat: repeat;
}
.goodfellas {
    max-width: 716px;
    max-height: 649px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 260px 30px 0px;
    border-radius: 10%;
    background-repeat: repeat;
}
.Seven { 
    max-width: 716px;
    max-height: 649px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 300px 30px 30px;
    border-radius: 10%;
    background-repeat: repeat;
}
.Story {
    max-width: 716px;
    max-height: 649px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 300px 30px 30px;
    border-radius: 10%;
    background-repeat: repeat;
}
/*saul bass's influence section*/
.back {
    background-color: #368BD0;
    padding: 0px 0px 0px 100px;
}
.army {
    max-width: 1660px;
    max-height: 670px;
    display: block;
    width: 50%;
    padding: 0px 0px 10px 0px;
    margin-left: auto;
    margin-right: auto;
}
.influ {
    color: #ffffff;
    font-size: 6rem;
    font-family: 'Saira Stencil One';
    z-index: 0;
    padding: 0px 0px 10px 0px;
    margin-left: auto;
    margin-right: auto;
}
.Influence p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 10px 200px 30px 200px;

}

.Influence h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    text-align: left;
    padding: 0px 200px 30px 200px;
}

.Influence h4 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 200px 30px 200px;
}
.lawry-left {

    color: #051311;
    font-size: 1.25rem;
    font-family: 'Univers';
    z-index: 0;
    margin-right: 42.5rem;
    margin-left: 12.5rem;
    padding: 0 0 30px 0;
}
.lawry-right {
 position: absolute;
right: 300px;

}