/*import fonts from google fonts Wendy One, Stencil and roboto */
@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*imported downloaded fonts Hitchcock & Univers*/
@font-face {
    font-family: 'Hitchcock';
    src: url("../Fonts/Hitchcock/Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Univers";
    src: url("../Fonts/UniversRegular.ttf") format('truetype');
}

/* css reset */
* {
    padding: 0;
    Margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/*default styles for whole page*/
body {
    color: #051311;
    border-color: black;
    background-color: #FEF7DA;
}

/*font styles*/
h1 {
    font-family: 'Hitchcock', 'Wendy One';
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

h2 {
    font-family: 'Hitchcock', 'Wendy One';
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

h3 {
    font-family: 'Wendy one';
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
}

h4 {
    font-family: 'Wendy One';
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

p {
    font-family: Univers, Roboto;
    font-weight: 400;
    font-style: regular;
    font-size: 1.25rem;
}

/*navigation bar design*/
.navbar ul {

    list-style: none;
    background-color: #202B72;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;

}

.navbar a {
    color: #E9E9E9;
    text-decoration: none;
    padding: 20px;
    display: block;
    font-family: 'Wendy One';
    font-size: 20px;
    color: #E9E9E9;

}

.navbar a:hover {
    background-color: #fe464c;
}

.navbar li {

    margin: auto;
    padding: 0px 30px;
}

/*sidebar*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 50vh;
    width: 200px;
    z-index: 999;
    background-color: #202B72;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 70%;
}

.sidebar a {
    width: 100%;
}

.sidebar a:hover {
    background-color: #fe464c;
}

.menu-button {
    display: none;

}

/*opening title card*/
.opening {
    Position: relative;
    display: flex;
    max-width: 100%;
    margin: auto;
}

.shapes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    margin: auto;
    border: none;


}

/* positioning title text */
.why {
    position: absolute;
    top: 130px;
    left: 500px;
    right: 0px;
    color: #DA0000;
    font-size: 8rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

.saul {
    position: absolute;
    top: 335px;
    left: 100px;
    right: 0px;
    color: #368BD0;
    font-size: 8rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

.bass {
    position: absolute;
    top: 335px;
    left: 730px;
    right: 0px;
    color: #007D06;
    font-size: 8rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

.so {
    position: absolute;
    top: 550px;
    left: 550px;
    right: 0px;
    color: #F58020;
    font-size: 8rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

.important {
    position: absolute;
    top: 550px;
    left: 750px;
    right: 0px;
    color: #F58020;
    font-size: 8rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

/*quote from saul bass section*/
.quotation img {
    max-width: 1500px;
    max-height: 849px;
    display: block;
    width: 100%;
    padding: 20px 0px 0px 0px;
    margin-right: auto;
    margin-left: auto;

}

.make,
.thing,
.comma,
.if,
.cares,
.dash,
.sb {
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: 2s;
    /* to add a short delay*/
}

.make {
    position: absolute;
    top: 900px;
    left: 100px;
    right: 0px;
    color: #ffffff;
    font-size: 3rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

.thing {
    position: absolute;
    top: 950px;
    left: 99px;
    right: 0px;
    color: #ffffff;
    font-size: 3rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

.comma {
    position: absolute;
    top: 950px;
    left: 255px;
    right: 0px;
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Wendy one';
    z-index: 0;
}

.if {
    position: absolute;
    top: 950px;
    left: 270px;
    right: 0px;
    color: #ffffff;
    font-size: 3rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

.cares {
    position: absolute;
    top: 1000px;
    left: 99px;
    right: 0px;
    color: #ffffff;
    font-size: 3rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

.dash {
    position: absolute;
    top: 1000px;
    left: 250px;
    right: 0px;
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Wendy One';
    z-index: 0;
}

.sb {
    position: absolute;
    top: 1000px;
    left: 280px;
    right: 0px;
    color: #ffffff;
    font-size: 3rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

/*Animation*/
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*Introduction*/

.hand img {
    position: relative;
    float: left;
    margin: 0px;
    width: 500px;
    height: 500px;
}

.title {
    font-size: 6rem;
    font-family: 'Wendy One';
    margin-top: 50px;
    margin-left: 100px;

}

.indo {
    font-size: 1.25rem;
    font-family: Univers, Roboto;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 50px;

}

.indo2 {
    font-size: 1.25rem;
    font-family: Univers, Roboto;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 50px;
}

/*role in graphic design*/
.vertigo img {
    max-width: 1512px;
    max-height: 470px;
    display: block;
    width: 100%;
    padding: 0px 0px 0px 0px;
}

.title2 {
    position: absolute;
    top: 1900px;
    left: 325px;
    right: 320px;
    text-align: center;
    color: #ffffff;
    font-size: 6rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

.GraphicDesign p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 200px 30px 200px;

}

.GraphicDesign h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    text-align: left;
    padding: 10px 200px 30px 200px;
}

.GraphicDesign h4 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 200px 30px 200px;

}
.atat {
    display:flex;
    justify-content: center;
    gap: 30px
}
.atat img {
    max-width: 306px;
    max-height: 649px;
    display: block;
    padding: 10px;
    border-radius: 10%;
    background-repeat: repeat;
}

.warner img {
    max-width: 716px;
    max-height: 649px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    border-radius: 10%;
    background-repeat: repeat;
}

.anatomy img {
    max-width: 716px;
    max-height: 649px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    border-radius: 10%;
    background-repeat: repeat;
}

.album img {
    max-width: 716px;
    max-height: 649px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    border-radius: 10%;
    background-repeat: repeat;
}

/*influence on film indusrty*/
.industry {
    background-color: #F6D000;
    padding: 200px 100px 200px 100px;
}

.industry2 {
    font-size: 6rem;
    font-family: 'Wendy One';
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 270px;
    text-align: right;
    color: #051311;
    
}

.industry2 {
    transform: rotate(-10deg)
}

.Film p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 10px 200px 30px 200px;

}

.Film h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    text-align: left;
    padding: 0px 200px 30px 200px;
}

.Film h4 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 200px 30px 200px;
}

.casinovideo {
    aspect-ratio: 16 / 9;
    width: 800px;

}


.goodfellas {
    aspect-ratio: 16 / 9;
    width: 800px;
}

.Seven {
    aspect-ratio: 16 / 9;
    width: 800px;
}

.Story {
    max-width: 716px;
    max-height: 649px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 300px 30px 30px;
    border-radius: 10%;
    background-repeat: repeat;
}

/*saul bass's influence section*/
.back {
    background-color: #368BD0;
    padding: 0px 0px 0px 100px;
}

.army {
    max-width: 1660px;
    max-height: 670px;
    display: block;
    width: 50%;
    padding: 0px 0px 50px 0px;
    margin-left: auto;
    margin-right: auto;
}

.influ {
    color: #ffffff;
    font-size: 6rem;
    font-family: 'Saira Stencil One';
    z-index: 0;
    margin-left: 140px;
    margin-right: 0px;
}

.Influence p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 10px 200px 30px 200px;

}

.Influence h3 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    text-align: left;
    padding: 0px 200px 30px 200px;
}

.Influence h4 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 0px 200px 30px 200px;
}

.lawry-left {

    color: #051311;
    font-size: 1.25rem;
    font-family: Univers, Roboto;
    z-index: 0;
    margin-right: 55rem;
    margin-left: 12.5rem;
    padding: 0 0 30px 0;
}

.lawry-right img {
    max-width: 200px;
    max-height: 220px;
    display: block;
    width: 100%;
    position: absolute;
    right: 425px;
}

.lawdy img {
    max-width: 716px;
    max-height: 649px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 30px 30px;
    border-radius: 10%;
    background-repeat: repeat;
}

.Monster {
    aspect-ratio: 16 / 9;
    width: 800px;
}

.mad {
    aspect-ratio: 16 / 9;
    width: 800px;
}

/*conclusion*/
.Conclusion {
    background-color: #F8A700;
    padding: 10px 0px 0px 0px
}

.body img {
    position: relative;
    float: right;
    margin-top: 20px;
    width: auto;
    height: auto;
}

.clus {
    font-size: 6rem;
    font-family: 'Wendy One';
    margin-top: 50px;
    margin-left: 100px;

}

.con1 {
    font-size: 1.25rem;
    font-family: Univers, Roboto;
    margin-top: 20px;
    margin-left: 100px;


}

.con2 {
    font-size: 1.25rem;
    font-family: Univers, Roboto;
    margin-top: 20px;
    margin-left: 100px;

}

.con3 {
    font-size: 1.25rem;
    font-family: Univers, Roboto;
    margin-top: 20px;
    margin-left: 100px;
    padding: 0px 0px 80px;
}

/*references*/
.reference {
    background-color: #202B72;
}

.reference h2 {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 20px 200px 30px 200px;
    color: #E9E9E9;
}

.reference p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 10px 200px 30px 200px;
    color: #E9E9E9;
}

/*copyright*/
.jared {
    background-color: #F6D000;
}

.jared p {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    padding: 10px 200px 30px 200px;
    color: #051311;
    text-align: center;
}

/*responsiveness*/

/*Role in graphic design 1410*/
@media (max-width:1410px) {
    .title2 {
        position: absolute;
        top: 1900px;
        left: 325px;
        right: 320px;
        text-align: center;
        color: #ffffff;
        font-size: 5.5rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

}

/*side bar menu*/
@media(max-width:768px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: flex;
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 998;
    }
}

@media(max-width:768px) {
    .sidebar {
        width: 100%;
        opacity: 100%;
        ;
    }
}

@media(min-width:769px) {
    .sidebar {
        opacity: 0%;
    }

    .sidebar ul {
        list-style: none;
        background-color: #202B72;
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: center;
    }
}

/*1024px*/
/*Opening 1024*/
@media (max-width: 1024px) {
    .opening {
        Position: relative;
        display: flex;
        max-width: 100%;
        margin: auto;
    }

    .shapes img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        margin: auto;
        border: none;


    }
}

/* positioning title text */
@media (max-width: 1024px) {
    .why {
        position: absolute;
        top: 130px;
        left: 350px;
        right: 0px;
        color: #DA0000;
        font-size: 6rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .saul {
        position: absolute;
        top: 280px;
        left: 50px;
        right: 0px;
        color: #368BD0;
        font-size: 6rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .bass {
        position: absolute;
        top: 280px;
        left: 500px;
        right: 0px;
        color: #007D06;
        font-size: 6rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .so {
        position: absolute;
        top: 430px;
        left: 380px;
        right: 0px;
        color: #F58020;
        font-size: 5.5rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .important {
        position: absolute;
        top: 430px;
        left: 530px;
        right: 0px;
        color: #F58020;
        font-size: 5.5rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }
}

/*quote from saul bass section 1024*/
@media (max-width: 1024px) {
    .quotation img {
        max-width: 1500px;
        max-height: 849px;
        display: block;
        width: 100%;
        padding: 20px 0px 0px 0px;
        margin-right: auto;
        margin-left: auto;

    }

    .make {
        position: absolute;
        top: 700px;
        left: 100px;
        right: 0px;
        color: #ffffff;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .thing {
        position: absolute;
        top: 750px;
        left: 99px;
        right: 0px;
        color: #ffffff;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .comma {
        position: absolute;
        top: 750px;
        left: 200px;
        right: 0px;
        color: #ffffff;
        font-size: 2rem;
        font-family: 'Wendy One';
        z-index: 0;
    }

    .if {
        position: absolute;
        top: 750px;
        left: 215px;
        right: 0px;
        color: #ffffff;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .cares {
        position: absolute;
        top: 800px;
        left: 99px;
        right: 0px;
        color: #ffffff;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .dash {
        position: absolute;
        top: 800px;
        left: 200px;
        right: 0px;
        color: #ffffff;
        font-size: 2rem;
        font-family: 'Wendy One';
        z-index: 0;
    }

    .sb {
        position: absolute;
        top: 800px;
        left: 220px;
        right: 0px;
        color: #ffffff;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }
}

/*introduction 1024px*/
@media (max-width: 1024px) {

    .hand img {
        position: relative;
        float: left;
        margin: 0px;
        width: 400px;
        height: 400px;
    }

    .title {
        font-size: 5rem;
        font-family: 'Wendy One';
        margin-top: 50px;
        margin-left: 100px;

    }

    .indo {
        font-size: 1rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 50px;

    }

    .indo2 {
        font-size: 1rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 100px;
        margin-right: 50px;
    }
}

/*graphic design 1024px*/
@media (max-width:1024px) {
    .title2 {
        position: absolute;
        top: 1450px;
        left: 325px;
        right: 320px;
        text-align: center;
        color: #ffffff;
        font-size: 3.5rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }
}

/*influence on film industry 1024px*/
@media (max-width:1024px) {
    .industry {
        background-color: #F6D000;
        padding: 200px 100px 200px 100px;
    }

    .industry2 {
        position: absolute;
        top: 6050px;
        right: 300px;
        left: 300px;
        text-align: right;
        color: #051311;
        font-size: 3.4rem;
        font-family: 'Wendy One';
        z-index: 0;
        padding: 0px 0px 100px 0px
    }

    .industry2 {
        transform: rotate(-10deg)
    }
}

/*influence 1024px*/
@media (max-width:1024px) {
    .army {
        max-width: 1660px;
        max-height: 670px;
        display: block;
        width: 50%;
        padding: 0px 200px 50px 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .influ {
        color: #ffffff;
        font-size: 4rem;
        font-family: 'Saira Stencil One';
        z-index: 0;
        margin-left: 90px;
        margin-right: 0px;
    }

    .lawry-left {

        color: #051311;
        font-size: 1.25rem;
        font-family: Univers, Roboto;
        z-index: 0;
        margin-right: 30rem;
        margin-left: 12.5rem;
        padding: 0 0 30px 0;
    }

    .lawry-right img {
        max-width: 200px;
        max-height: 220px;
        display: flex;
        width: 100%;
        position: absolute;
        right: 230px;
    }


}

/*in conclusion section 1024px*/
@media (max-width: 1024px) {

    .Conclusion {
        background-color: #F8A700;
        padding: 10px 0px 0px 0px
    }

    .body img {
        position: relative;
        float: right;
        margin-top: 50px;
        width: 400px;
        height: 400px;
    }

    .clus {
        font-size: 5rem;
        font-family: 'Wendy One';
        margin-top: 50px;
        margin-left: 100px;

    }

    .con1 {
        font-size: 1.25rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 100px;


    }

    .con2 {
        font-size: 1.25rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 100px;

    }

    .con3 {
        font-size: 1.25rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 100px;
        padding: 0px 0px 80px;
    }
}

/*768px*/
/*title text*/
@media (max-width: 768px) {
    .why {
        position: absolute;
        top: 30px;
        left: 250px;
        right: 0px;
        color: #DA0000;
        font-size: 4.5rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .saul {
        position: absolute;
        top: 140px;
        left: 40px;
        right: 0px;
        color: #368BD0;
        font-size: 4.5rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .bass {
        position: absolute;
        top: 140px;
        left: 380px;
        right: 0px;
        color: #007D06;
        font-size: 4.5rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .so {
        position: absolute;
        top: 250px;
        left: 280px;
        right: 0px;
        color: #F58020;
        font-size: 4.3rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .important {
        position: absolute;
        top: 250px;
        left: 380px;
        right: 0px;
        color: #F58020;
        font-size: 4.3rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }
}

/*quote from saul bass section 768px*/
@media (max-width: 768px) {
    .quotation img {
        max-width: 1500px;
        max-height: 849px;
        display: block;
        width: 100%;
        padding: 20px 0px 0px 0px;
        margin-right: auto;
        margin-left: auto;

    }

    .make {
        position: absolute;
        top: 400px;
        left: 50px;
        right: 0px;
        color: #ffffff;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .thing {
        position: absolute;
        top: 450px;
        left: 50px;
        right: 0px;
        color: #ffffff;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .comma {
        position: absolute;
        top: 450px;
        left: 150px;
        right: 0px;
        color: #ffffff;
        font-size: 2rem;
        font-family: 'Wendy One';
        z-index: 0;
    }

    .if {
        position: absolute;
        top: 450px;
        left: 165px;
        right: 0px;
        color: #ffffff;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .cares {
        position: absolute;
        top: 500px;
        left: 50px;
        right: 0px;
        color: #ffffff;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .dash {
        position: absolute;
        top: 500px;
        left: 150px;
        right: 0px;
        color: #ffffff;
        font-size: 2rem;
        font-family: 'Wendy One';
        z-index: 0;
    }

    .sb {
        position: absolute;
        top: 500px;
        left: 170px;
        right: 0px;
        color: #ffffff;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }
}

/*introduction 768px*/
@media (max-width: 768px) {
    .hand img {
        position: relative;
        float: left;
        margin: 0px;
        width: 300px;
        height: 300px;
    }

    .title {
        font-size: 4rem;
        font-family: 'Wendy One';
        margin-top: 50px;
        margin-left: 100px;

    }

    .indo {
        font-size: 0.75rem;
        font-family: Univers, Roboto;
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 50px;

    }

    .indo2 {
        font-size: 0.75rem;
        font-family: Univers, Roboto;
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 50px;
    }
}


/*font styles 768px*/
@media (max-width:768px) {
    h3 {
        font-family: 'Wendy one';
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
    }

    h4 {
        font-family: 'Wendy One';
        font-weight: 400;
        font-style: normal;
        font-size: 1.25rem;
    }

    p {
        font-family: Univers, Roboto;
        font-weight: 400;
        font-style: regular;
        font-size: 1rem;
    }
}

/*graphic design 768px*/
@media (max-width:768px) {
    .title2 {
        position: absolute;
        top: 1060px;
        left: 100px;
        right: 100px;
        text-align: center;
        color: #ffffff;
        font-size: 3rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .GraphicDesign p {

        margin: 0 auto 0 auto;
        padding: 0px 100px 30px 100px;

    }

    .GraphicDesign h3 {
        margin: 0 auto 0 auto;
        text-align: left;
        padding: 10px 100px 30px 100px;
    }

    .GraphicDesign h4 {

        margin: 0 auto 0 auto;
        padding: 0px 100px 30px 100px;

    }
}

/*influence on Film industry 768px*/
@media (max-width:768px) {
    .industry2 {
        position: absolute;
        top: 5070px;
        right: 50px;
        left: 50px;
        text-align: right;
        color: #051311;
        font-size: 4rem;
        font-family: 'Wendy One';
        z-index: 0;
        padding: 0px 140px 50px 90px
    }

    .industry2 {
        transform: rotate(-10deg)
    }

    .Film p {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 10px 100px 30px 100px;

    }

    .Film h3 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        text-align: left;
        padding: 0px 100px 30px 100px;
    }

    .Film h4 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 0px 100px 30px 100px;
    }

    .casinovideo {
        aspect-ratio: 16 / 9;
        width: 400px;

    }


    .goodfellas {
        aspect-ratio: 16 / 9;
        width: 400px;
    }

    .Seven {
        aspect-ratio: 16 / 9;
        width: 400px;
    }

    .Story img {
        max-width: 516px;
        max-height: 449px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0px 10px 90px;

    }
}

/*saul bass's influence section 768px*/
@media (max-width:768px) {
    .back {
        background-color: #368BD0;
        padding: 400px 0px 0px 100px;
    }

    .army img {
        max-width: 516px;
        max-height: 449px;
        position: absolute;
        top: 8400px;
        left: 150px
    }

    .influ {
        color: #ffffff;
        font-size: 4rem;
        font-family: 'Saira Stencil One';
        z-index: 0;
        text-align: center;
        margin-left: 0px;
        margin-right: 120px;
    }

    .Influence p {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 10px 100px 30px 100px;

    }

    .Influence h3 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        text-align: left;
        padding: 0px 100px 30px 100px;
    }

    .Influence h4 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 0px 100px 30px 100px;
    }

    .lawry-left {

        color: #051311;
        font-size: 1rem;
        font-family: Univers, Roboto;
        z-index: 0;
        margin-right: 20rem;
        margin-left: 6.2rem;
        padding: 0 0 30px 0;
    }

    .lawry-right img {
        max-width: 150px;
        max-height: 180px;
        display: block;
        width: 100%;
        position: absolute;
        right: 150px;
    }

    .lawdy img {
        max-width: 716px;
        max-height: 649px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 30px 30px 30px;
        border-radius: 10%;
        background-repeat: repeat;
    }

    .Monster {
        aspect-ratio: 16 / 9;
        width: 400px;
    }

    .mad {
        aspect-ratio: 16 / 9;
        width: 400px;
    }
}

/*conclusion 768px*/
@media (max-width:768px) {
    .Conclusion {
        background-color: #F8A700;
        padding: 10px 0px 0px 0px
    }

    .body img {
        position: relative;
        float: right;
        margin-top: 100px;

        width: 300px;
        height: 300px;
    }

    .clus {
        font-size: 3.5rem;
        font-family: 'Wendy One';
        margin-top: 50px;
        margin-left: 50px;

    }

    .con1 {
        font-size: 1rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 50px;



    }

    .con2 {
        font-size: 1rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 50px;

    }

    .con3 {
        font-size: 1rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 50px;
        padding: 0px 0px 80px;
    }
}

/*references 768px*/
@media (max-width:768px) {
    .reference {
        background-color: #202B72;
    }

    .reference h2 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 20px 100px 30px 100px;
        color: #E9E9E9;
    }

    .reference p {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 10px 100px 30px 100px;
        color: #E9E9E9;
    }
}

/*425px*/
/*title 425px*/
@media (max-width:425px) {
    .why {
        position: absolute;
        top: 20px;
        left: 150px;
        right: 0px;
        color: #DA0000;
        font-size: 2.5rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .saul {
        position: absolute;
        top: 80px;
        left: 30px;
        right: 0px;
        color: #368BD0;
        font-size: 2.5rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .bass {
        position: absolute;
        top: 80px;
        left: 210px;
        right: 0px;
        color: #007D06;
        font-size: 2.5rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .so {
        position: absolute;
        top: 140px;
        left: 160px;
        right: 0px;
        color: #F58020;
        font-size: 2.3rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .important {
        position: absolute;
        top: 140px;
        left: 220px;
        right: 0px;
        color: #F58020;
        font-size: 2.3rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

}

/*quote from saul bass section 425px*/
@media (max-width: 425px) {
    .quotation img {
        max-width: 1500px;
        max-height: 849px;
        display: block;
        width: 100%;
        padding: 20px 0px 0px 0px;
        margin-right: auto;
        margin-left: auto;

    }

    .make {
        position: absolute;
        top: 250px;
        left: 10px;
        right: 0px;
        color: #ffffff;
        font-size: 1.1rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .thing {
        position: absolute;
        top: 270px;
        left: 10px;
        right: 0px;
        color: #ffffff;
        font-size: 1.1rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .comma {
        position: absolute;
        top: 270px;
        left: 66px;
        right: 0px;
        color: #ffffff;
        font-size: 1.1rem;
        font-family: 'Wendy One';
        z-index: 0;
    }

    .if {
        position: absolute;
        top: 270px;
        left: 74px;
        right: 0px;
        color: #ffffff;
        font-size: 1.1rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .cares {
        position: absolute;
        top: 290px;
        left: 10px;
        right: 0px;
        color: #ffffff;
        font-size: 1.1rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .dash {
        position: absolute;
        top: 290px;
        left: 65px;
        right: 0px;
        color: #ffffff;
        font-size: 1.1rem;
        font-family: 'Wendy One';
        z-index: 0;
    }

    .sb {
        position: absolute;
        top: 290px;
        left: 80px;
        right: 0px;
        color: #ffffff;
        font-size: 1.1rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }
}

/*introduction 425px*/
@media (max-width: 425px) {
    .hand img {
        position: relative;
        float: left;
        margin: 0px;
        width: 200px;
        height: 200px;
    }

    .title {
        font-size: 2rem;
        font-family: 'Wendy One';
        margin-top: 10px;
        margin-left: 100px;

    }

    .indo {
        font-size: 0.4rem;
        font-family: Univers, Roboto;
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 20px;

    }

    .indo2 {
        font-size: 0.4rem;
        font-family: Univers, Roboto;
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 20px;
    }
}

/*font styles 425px*/
@media (max-width:425px) {
    h3 {
        font-family: 'Wendy one';
        font-weight: 400;
        font-style: normal;
        font-size: 1.25rem;
    }

    h4 {
        font-family: 'Wendy One';
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
    }

    p {
        font-family: Univers, Roboto;
        font-weight: 400;
        font-style: regular;
        font-size: 0.75rem;
    }
}

/*graphic design 425px*/
@media (max-width: 425px) {
    .title2 {
        position: absolute;
        top: 600px;
        left: 75px;
        right: 75px;
        text-align: center;
        color: #ffffff;
        font-size: 1.75rem;
        font-family: Hitchcock, Wendy One;
        ;
        z-index: 0;
    }

    .GraphicDesign p {

        margin: 0 auto 0 auto;
        padding: 0px 50px 30px 50px;

    }

    .GraphicDesign h3 {
        margin: 0 auto 0 auto;
        text-align: left;
        padding: 10px 50px 30px 50px;
    }

    .GraphicDesign h4 {

        margin: 0 auto 0 auto;
        padding: 0px 50px 30px 50px;

    }
    .atat {
        display:flex;
        justify-content: center;
        gap: 0px
    }
    .atat img {
        max-width: 150px;
        max-height: 150px;
        display: block;
        border-radius: 10%;
        background-repeat: repeat;
    }

    .album img {
        max-width: 316px;
        max-height: 149px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 30px 30px 30px;
        border-radius: 10%;
        background-repeat: repeat;
    }
}

/*influence on Film industry 425px*/
@media (max-width:425px) {
    .industry2 {
        position: absolute;
        top: 4300px;
        right: 15px;
        text-align: right;
        color: #051311;
        font-size: 2.5rem;
        font-family: 'Wendy One';
        z-index: 0;

    }

    .industry2 {
        transform: rotate(-10deg)
    }

    .Film p {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 10px 50px 30px 50px;

    }

    .Film h3 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        text-align: left;
        padding: 0px 50px 30px 50px;
    }

    .Film h4 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 0px 50px 30px 50px;
    }

    .casinovideo {
        aspect-ratio: 16 / 9;
        width: 300px;

    }


    .goodfellas {
        aspect-ratio: 16 / 9;
        width: 300px;
    }

    .Seven {
        aspect-ratio: 16 / 9;
        width: 300px;
    }

    .Story img {
        max-width: 378px;
        max-height: 349px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0px 0px 0px;

    }
}

/*saul bass's influence section 425px*/
@media (max-width:425px) {
    .back {
        background-color: #368BD0;
        padding: 300px 0px 0px 0px;
    }

    .army img {
        max-width: 416px;
        max-height: 349px;
        position: absolute;
        top: 7300px;
        left: 50px
    }

    .influ {
        color: #ffffff;
        font-size: 2.5rem;
        font-family: 'Saira Stencil One';
        z-index: 0;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .Influence p {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 10px 50px 30px 50px;

    }

    .Influence h3 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        text-align: left;
        padding: 0px 50px 30px 50px;
    }

    .Influence h4 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 0px 50px 30px 50px;
    }

    .lawry-left {

        color: #051311;
        font-size: 0.75rem;
        font-family: Univers, Roboto;
        z-index: 0;
        margin-right: 12rem;
        margin-left: 3.2rem;
        padding: 0 0 30px 0;
    }

    .lawry-right img {
        max-width: 100px;
        max-height: 120px;
        display: block;
        width: 100%;
        position: absolute;
        right: 70px;
    }

    .Monster {
        aspect-ratio: 16 / 9;
        max-width: 300px;
    }

    .mad {
        aspect-ratio: 16 / 9;
        max-width: 300px;
    }
}

/*conclusion 425px*/
@media (max-width:425px) {
    .Conclusion {
        background-color: #F8A700;
        padding: 10px 0px 0px 0px
    }

    .body img {
        position: relative;
        float: left;
        margin-top: 50px;
        width: 400px;
        height: 300px;
    }

    .clus {
        font-size: 2.5rem;
        font-family: 'Wendy One';
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .con1 {
        font-size: 0.75rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;


    }

    .con2 {
        font-size: 0.75rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .con3 {
        font-size: 0.75rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 0px 0px 80px;
    }
}

@media (max-width:425px) {
    .reference {
        background-color: #202B72;
    }

    .reference h2 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 20px 50px 30px 50px;
        color: #E9E9E9;
    }

    .reference p {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 10px 50px 30px 50px;
        color: #E9E9E9;
    }

    .jared {
        background-color: #F6D000;
    }

    .jared p {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 10px 50px 30px 50px;
        color: #051311;
        text-align: center;
    }

}
/*393*/
/*opening title 393px*/
@media (max-width:393px) {
    .why {
        position: absolute;
        top: 15px;
        left: 125px;
        right: 0px;
        color: #DA0000;
        font-size: 2.3rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .saul {
        position: absolute;
        top: 70px;
        left: 10px;
        right: 0px;
        color: #368BD0;
        font-size: 2.3rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .bass {
        position: absolute;
        top: 70px;
        left: 187px;
        right: 0px;
        color: #007D06;
        font-size: 2.2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .so {
        position: absolute;
        top: 125px;
        left: 145px;
        right: 0px;
        color: #F58020;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .important {
        position: absolute;
        top: 125px;
        left: 200px;
        right: 0px;
        color: #F58020;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

}
/*quote 393*/
@media (max-width:393px) {
.quotation img {
    max-width: 1500px;
    max-height: 849px;
    display: block;
    width: 100%;
    padding: 20px 0px 0px 0px;
    margin-right: auto;
    margin-left: auto;

}

.make {
    position: absolute;
    top: 240px;
    left: 10px;
    right: 0px;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

.thing {
    position: absolute;
    top: 260px;
    left: 10px;
    right: 0px;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

.comma {
    position: absolute;
    top: 260px;
    left: 66px;
    right: 0px;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: 'Wendy One';
    z-index: 0;
}

.if {
    position: absolute;
    top: 260px;
    left: 74px;
    right: 0px;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

.cares {
    position: absolute;
    top: 280px;
    left: 10px;
    right: 0px;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}

.dash {
    position: absolute;
    top: 280px;
    left: 65px;
    right: 0px;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: 'Wendy One';
    z-index: 0;
}

.sb {
    position: absolute;
    top: 280px;
    left: 80px;
    right: 0px;
    color: #ffffff;
    font-size: 1.1rem;
    font-family: Hitchcock, Wendy One;
    z-index: 0;
}
}
/*introduction 393px*/
@media (max-width: 393px) {
    .hand img {
        position: relative;
        float: left;
        margin: 0px;
        width: 150px;
        height: 150px;
    }

    .title {
        font-size: 2rem;
        font-family: 'Wendy One';
        margin-top: 10px;
        margin-left: 100px;

    }

    .indo {
        font-size: 0.4rem;
        font-family: Univers, Roboto;
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 20px;

    }

    .indo2 {
        font-size: 0.4rem;
        font-family: Univers, Roboto;
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 20px;
        padding-bottom: 20px;
    }
}
/*graphic design 393px*/
@media (max-width: 393px) {
    .title2 {
        position: absolute;
        top: 530px;
        left: 75px;
        right: 75px;
        text-align: center;
        color: #ffffff;
        font-size: 1.75rem;
        font-family: Hitchcock, Wendy One;
        ;
        z-index: 0;
    }
}
/*influence on Film industry 393px*/
@media (max-width:393px) {
    .industry2 {
        position: absolute;
        top: 3800px;
        right: 50px;
        text-align: right;
        color: #051311;
        font-size: 2.5rem;
        font-family: 'Wendy One';
        z-index: 0;

    }
}
.Story img {
    max-width: 320px;
    max-height: 275px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;

}
/* influence on others 393px*/
@media (max-width:393px) {
.army img {
    max-width: 300px;
    max-height: 309px;
    position: absolute;
    top: 7100px;
    left: 50px
}
}
/*body image 393px*/
@media (max-width:393px) {
.body img {
    position: relative;
    float: left;
    margin-top: 0px;
    width: 400px;
    height: 300px;
}
}
/*375px*/
/*title 375px*/
@media (max-width:375px) {
    .why {
        position: absolute;
        top: 15px;
        left: 130px;
        right: 0px;
        color: #DA0000;
        font-size: 2.3rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .saul {
        position: absolute;
        top: 70px;
        left: 10px;
        right: 0px;
        color: #368BD0;
        font-size: 2.3rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .bass {
        position: absolute;
        top: 70px;
        left: 187px;
        right: 0px;
        color: #007D06;
        font-size: 2.2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .so {
        position: absolute;
        top: 125px;
        left: 145px;
        right: 0px;
        color: #F58020;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .important {
        position: absolute;
        top: 125px;
        left: 200px;
        right: 0px;
        color: #F58020;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

}

/*quote from saul bass section 375px*/
@media (max-width: 375px) {
    .quotation img {
        max-width: 1500px;
        max-height: 849px;
        display: block;
        width: 100%;
        padding: 20px 0px 0px 0px;
        margin-right: auto;
        margin-left: auto;

    }

    .make {
        position: absolute;
        top: 230px;
        left: 10px;
        right: 0px;
        color: #ffffff;
        font-size: 1rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .thing {
        position: absolute;
        top: 250px;
        left: 10px;
        right: 0px;
        color: #ffffff;
        font-size: 1rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .comma {
        position: absolute;
        top: 250px;
        left: 62px;
        right: 0px;
        color: #ffffff;
        font-size: 1rem;
        font-family: 'Wendy one';
        z-index: 0;
    }

    .if {
        position: absolute;
        top: 250px;
        left: 70px;
        right: 0px;
        color: #ffffff;
        font-size: 1rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .cares {
        position: absolute;
        top: 270px;
        left: 10px;
        right: 0px;
        color: #ffffff;
        font-size: 1rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .dash {
        position: absolute;
        top: 270px;
        left: 65px;
        right: 0px;
        color: #ffffff;
        font-size: 1rem;
        font-family: 'Wendy One';
        z-index: 0;
    }

    .sb {
        position: absolute;
        top: 270px;
        left: 80px;
        right: 0px;
        color: #ffffff;
        font-size: 1rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }
}

/*introduction 375px*/
@media (max-width: 375px) {
    .hand img {
        position: relative;
        float: left;
        margin: 0px;
        width: 150px;
        height: 150px;
    }

    .title {
        font-size: 2rem;
        font-family: 'Wendy One';
        margin-top: 10px;
        margin-left: 100px;

    }

    .indo {
        font-size: 0.4rem;
        font-family: Univers, Roboto;
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 20px;

    }

    .indo2 {
        font-size: 0.4rem;
        font-family: Univers, Roboto;
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 20px;
        padding-bottom: 30px;
    }
}


/*font styles 375px*/
@media (max-width:375px) {
    h3 {
        font-family: 'Wendy one';
        font-weight: 400;
        font-style: normal;
        font-size: 1rem;
    }

    h4 {
        font-family: 'Wendy One';
        font-weight: 400;
        font-style: normal;
        font-size: 0.75rem;
    }

    p {
        font-family: Univers, Roboto;
        font-weight: 400;
        font-style: regular;
        font-size: 0.5rem;
    }
}

/*graphic design 375px*/
@media (max-width: 375px) {
    .title2 {
        position: absolute;
        top: 560px;
        left: 75px;
        right: 75px;
        text-align: center;
        color: #ffffff;
        font-size: 1.5rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .GraphicDesign p {

        margin: 0 auto 0 auto;
        padding: 0px 50px 10px 50px;

    }

    .GraphicDesign h3 {
        margin: 0 auto 0 auto;
        text-align: left;
        padding: 10px 50px 10px 50px;
    }

    .GraphicDesign h4 {

        margin: 0 auto 0 auto;
        padding: 0px 50px 10px 50px;

    }
.atat{
gap: 5px;
}
    .atat img {
        max-width: 125px;
        max-height: 125px;
        display: block;
    
        padding: 10px 10px 10px 10px;
        border-radius: 10%;
        background-repeat: repeat;
    }

    .warner img {
        max-width: 216px;
        max-height: 149px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 30px 10px 30px;
        border-radius: 10%;
        background-repeat: repeat;
    }

    .anatomy img {
        max-width: 216px;
        max-height: 149px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 30px 10px 30px;
        border-radius: 10%;
        background-repeat: repeat;
    }
}

/*influence on Film industry 375px*/
@media (max-width:375px) {
    .industry {
        background-color: #F6D000;
        padding: 100px 100px 100px 100px;
    }

    .industry2 {
        position: absolute;
        top: 2410px;
        left: 20px;
        text-align: right;
        color: #051311;
        font-size: 2rem;
        font-family: 'Wendy One';
        z-index: 0;

    }

    .industry2 {
        transform: rotate(-10deg)
    }

    .Film p {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 10px 50px 10px 50px;

    }

    .Film h3 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        text-align: left;
        padding: 10px 50px 10px 50px;
    }

    .Film h4 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 10px 50px 10px 50px;
    }

    .casinovideo {
        aspect-ratio: 16 / 9;
        width: 300px;

    }


    .goodfellas {
        aspect-ratio: 16 / 9;
        width: 300px;
    }

    .Seven {
        aspect-ratio: 16 / 9;
        width: 300px;
    }

    .Story img {
        max-width: 315px;
        max-height: 209px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0px 0px 0px;

    }
}

/*saul bass's influence section 375px*/
@media (max-width:375px) {
    .back {
        background-color: #368BD0;
        padding: 200px 0px 0px 0px;
    }

    .army {
        padding: 20px 0px;
    }

    .army img {
        max-width: 316px;
        max-height: 249px;
        position: absolute;
        top: 4340px;
        left: 60px
    }

    .influ {
        color: #ffffff;
        font-size: 2rem;
        font-family: 'Saira Stencil One';
        z-index: 0;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .Influence p {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 10px 50px 10px 50px;

    }

    .Influence h3 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        text-align: left;
        padding: 0px 50px 10px 50px;
    }

    .Influence h4 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 0px 50px 10px 50px;
    }

    .lawry-left {

        color: #051311;
        font-size: 0.5rem;
        font-family: Univers, Roboto;
        z-index: 0;
        margin-right: 12rem;
        margin-left: 3.2rem;
        padding: 0 0 10px 0;
    }

    .lawry-right img {
        max-width: 70px;
        max-height: 90px;
        display: block;
        width: 100%;
        position: absolute;
        right: 95px;
    }

    .Monster {
        aspect-ratio: 16 / 9;
        max-width: 300px;
    }

    .mad {
        aspect-ratio: 16 / 9;
        max-width: 300px;
    }
}

/*conclusion 375*/
@media (max-width:375px) {
    .Conclusion {
        background-color: #F8A700;
        padding: 10px 0px 0px 0px
    }

    .body img {
        position: relative;
        float: left;
        margin-top: 0px;
        width: 305px;
        height: 300px;
    }

    .clus {
        font-size: 2.5rem;
        font-family: 'Wendy One';
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .con1 {
        font-size: 0.75rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;


    }

    .con2 {
        font-size: 0.75rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .con3 {
        font-size: 0.75rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 0px 0px 80px;
    }
}

/*320px*/
/*title 320px*/
@media (max-width:320px) {
    .why {
        position: absolute;
        top: 10px;
        left: 110px;
        right: 0px;
        color: #DA0000;
        font-size: 2rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .saul {
        position: absolute;
        top: 60px;
        left: 15px;
        right: 0px;
        color: #368BD0;
        font-size: 1.8rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .bass {
        position: absolute;
        top: 60px;
        left: 160px;
        right: 0px;
        color: #007D06;
        font-size: 1.8rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .so {
        position: absolute;
        top: 105px;
        left: 120px;
        right: 0px;
        color: #F58020;
        font-size: 1.8rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .important {
        position: absolute;
        top: 105px;
        left: 163px;
        right: 0px;
        color: #F58020;
        font-size: 1.8rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

}

/*quote from saul bass section 320px*/
@media (max-width: 320px) {
    .quotation img {
        max-width: 1500px;
        max-height: 849px;
        display: block;
        width: 100%;
        padding: 20px 0px 0px 0px;
        margin-right: auto;
        margin-left: auto;

    }

    .make {
        position: absolute;
        top: 200px;
        left: 10px;
        right: 0px;
        color: #ffffff;
        font-size: 0.9rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .thing {
        position: absolute;
        top: 215px;
        left: 10px;
        right: 0px;
        color: #ffffff;
        font-size: 0.9rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .comma {
        position: absolute;
        top: 215px;
        left: 56px;
        right: 0px;
        color: #ffffff;
        font-size: 1rem;
        font-family: 'Wendy one';
        z-index: 0;
    }

    .if {
        position: absolute;
        top: 215px;
        left: 63px;
        right: 0px;
        color: #ffffff;
        font-size: 0.9rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .cares {
        position: absolute;
        top: 230px;
        left: 10px;
        right: 0px;
        color: #ffffff;
        font-size: 0.9rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .dash {
        position: absolute;
        top: 230px;
        left: 56px;
        right: 0px;
        color: #ffffff;
        font-size: 1rem;
        font-family: 'Wendy One';
        z-index: 0;
    }

    .sb {
        position: absolute;
        top: 230px;
        left: 65px;
        right: 0px;
        color: #ffffff;
        font-size: 0.9rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }
}

/*introduction 320px*/
@media (max-width: 320px) {

    .hand img {
        position: relative;
        float: left;
        margin: 0px;
        width: 100px;
        height: 100px;
    }

    .title {
        font-size: 1.75rem;
        font-family: 'Wendy One';
        margin-top: 10px;
        margin-left: 100px;

    }

    .indo {
        font-size: 0.4rem;
        font-family: Univers, Roboto;
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 20px;

    }

    .indo2 {
        font-size: 0.4rem;
        font-family: Univers, Roboto;
        margin-top: 10px;
        margin-left: 100px;
        margin-right: 20px;
        padding-bottom: 30px;
    }
}

/*graphic design 320px*/
@media (max-width: 320px) {
    .title2 {
        position: absolute;
        top: 500px;
        left: 75px;
        right: 75px;
        text-align: center;
        color: #ffffff;
        font-size: 1.3rem;
        font-family: Hitchcock, Wendy One;
        z-index: 0;
    }

    .album img {
        max-width: 260px;
        max-height: 149px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 30px 10px 30px;
        border-radius: 10%;
        background-repeat: repeat;
    }
}

/*influence on Film industry 320px*/
@media (max-width:320px) {
    .industry {
        background-color: #F6D000;
        padding: 100px 100px 100px 100px;
    }

    .industry2 {
        position: absolute;
        top: 2450px;
        text-align: right;
        color: #051311;
        font-size: 1.5rem;
        font-family: 'Wendy One';
        z-index: 0;

    }

    .industry2 {
        transform: rotate(-10deg)
    }

    .Film p {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 10px 50px 10px 50px;

    }

    .Film h3 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        text-align: left;
        padding: 10px 50px 10px 50px;
    }

    .Film h4 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 10px 50px 10px 50px;
    }

    .casinovideo {
        aspect-ratio: 16 / 9;
        width: 200px;

    }


    .goodfellas {
        aspect-ratio: 16 / 9;
        width: 200px;
    }

    .Seven {
        aspect-ratio: 16 / 9;
        width: 200px;
    }

    .Story img {
        max-width: 275px;
        max-height: 209px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 0px 0px 0px;

    }
}

/*saul bass's influence section 320px*/
@media (max-width:320px) {
    .back {
        background-color: #368BD0;
        padding: 200px 0px 0px 0px;
    }

    .army {
        padding: 20px 0px;
    }

    .army img {
        max-width: 206px;
        max-height: 249px;
        position: absolute;
        top: 4430px;
        left: 60px
    }

    .influ {
        color: #ffffff;
        font-size: 1.5rem;
        font-family: 'Saira Stencil One';
        z-index: 0;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }


    .lawry-left {

        color: #051311;
        font-size: 0.5rem;
        font-family: Univers, Roboto;
        z-index: 0;
        margin-right: 9rem;
        margin-left: 3.2rem;
        padding: 0 0 10px 0;
    }

    .lawry-right img {
        max-width: 70px;
        max-height: 90px;
        display: block;
        width: 100%;
        position: absolute;
        right: 65px;
    }

    .lawdy img {
        max-width: 306px;
        max-height: 209px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 30px 10px 30px;
        border-radius: 20%;
        background-repeat: repeat;
    }

    .Monster {
        aspect-ratio: 16 / 9;
        max-width: 200px;
    }

    .mad {
        aspect-ratio: 16 / 9;
        max-width: 200px;
    }
}

/*conclusion 320px*/
@media (max-width:320px) {
    .Conclusion {
        background-color: #F8A700;
        padding: 10px 0px 0px 0px
    }

    .body img {
        position: relative;
        float: left;
        margin-top: 0px;
        width: 305px;
        height: 300px;
    }

    .clus {
        font-size: 2rem;
        font-family: 'Wendy One';
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .con1 {
        font-size: 0.65rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;


    }

    .con2 {
        font-size: 0.65rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .con3 {
        font-size: 0.75rem;
        font-family: Univers, Roboto;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 0px 0px 80px;
    }
}
/*references 320px*/
@media (max-width:320px) {
    .reference {
        background-color: #202B72;
    }

    .reference h2 {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 10px 50px 10px 50px;
        color: #E9E9E9;
    }

    .reference p {
        max-width: 1200px;
        margin: 0 auto 0 auto;
        padding: 10px 50px 10px 50px;
        color: #E9E9E9;
    }
}